<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="mediaHubActivityConnectionString" connectionString="Data Source=NIOBE;Initial Catalog=mediaHubActivity;Integrated Security=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
  </system.web>
  <system.serviceModel> 
    <services>
      <service name="ActivityServiceWebRole.ActivityDetailsService">
        <endpoint address="soap" binding="basicHttpBinding" contract="ActivityServiceWebRole.IActivityDetailsService" />
        <endpoint address="json" behaviorConfiguration="jsonRESTBehavior" binding="webHttpBinding" bindingConfiguration="jsonWebHttpBindingConfig" contract="ActivityServiceWebRole.IActivityDetailsService" />
        <endpoint address="njson" behaviorConfiguration="njsonRESTBehavior" binding="webHttpBinding" bindingConfiguration="njsonWebHttpBindingConfig" contract="ActivityServiceWebRole.IActivityDetailsService" />
      </service>
    </services>
    <extensions>
      <behaviorExtensions>
            <add name="njsonBehaviorExtension" type="ActivityServiceWebRole.NewtonsoftSupport.NewtonsoftJsonBehaviorExtension, ActivityServiceWebRole, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="jsonRESTBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
        <behavior name="njsonRESTBehavior">
          <webHttp helpEnabled="true" defaultBodyStyle="Bare" defaultOutgoingResponseFormat="Json" faultExceptionEnabled="true" />
          <njsonBehaviorExtension/>
        </behavior>     
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="jsonWebHttpBindingConfig" crossDomainScriptAccessEnabled="true" />        
        <binding name="njsonWebHttpBindingConfig" crossDomainScriptAccessEnabled="true" contentTypeMapper="ActivityServiceWebRole.NewtonsoftSupport.NewtonsoftJsonContentTypeMapper, ActivityServiceWebRole, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>        
      </webHttpBinding>
    </bindings>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
    -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
